.container {
    display: flex;
}

.btn-group {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.btn {

} 

.btn-push {

}

.btn-pop{

}

.stack {
    display: flex;
    height: 50px;
    padding: 10px;
    border: 2px solid blue;
}

.element {
    height: 100%;
    width: 50px;
    margin-right: 5px;
    background-color: grey;
}

